<div class="panel" id="main">
  <section>
    <h2>Our Story</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet
      lorem ac nulla cursus hendrerit vel in massa. Nulla facilisi. Sed bibendum
      tortor ut vestibulum.</p>
  </section>

  <section>
    <h2>Our Team</h2>
    <p>We have a dedicated team of professionals ready to assist you with your
      needs. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </section>
</div>