<div id="main">
  <section class="service">
    <h2>Service 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet
      lorem ac nulla cursus hendrerit vel in massa. Nulla facilisi. Sed bibendum
      tortor ut vestibulum.</p>
  </section>

  <section class="service">
    <h2>Service 2</h2>
    <p>Proin ullamcorper nunc eu dui hendrerit, quis dignissim ligula ultricies.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia Curae.</p>
  </section>

  <section class="service">
    <h2>Service 3</h2>
    <p>Phasellus at tortor eget justo vestibulum convallis. Vestibulum ante
      ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
  </section>
</div>