<div class="panel">
  <h2>{{title}}</h2>
  <p>This is the panel content.</p>
</div>
<div id="main">
  <article>

  </article>
  <nav>Nav</nav>
  <aside>

   <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>


    {{!-- <h1>Login</h1>
    <form action="/" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">Login</button>
    </form> --}}

  </aside>
</div>